# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ComoProgramar/Capitulo04/ExerciciosCap04/Testando/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Testando/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/OlaMundoSwing/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/OlaMundoSwing/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/DrawPanel/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/DrawPanelTeste/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/DrawPanelTeste/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/TesteJavaFX01/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/SensacaoTermica25/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/SensacaoTermica25/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/AtribuindoValorParaX/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/AtribuindoValorParaX/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_4/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_4/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio04_4/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_3/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_5/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_5/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/ContandoComWhile4_6/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/ContandoComWhile4_6/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_7/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_7/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_17/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_17/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_18/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_18/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_19/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_19/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_20/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_20/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_21/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_21/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_22/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_22/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_23/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_23/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_24/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_24/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_25/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_25/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_26/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_26/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_27/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_27/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_28/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_28/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_29/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_29/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_30/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_30/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_31/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_31/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_32/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_32/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_33/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_33/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_34/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_34/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_35/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_35/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_37/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exercicio4_37/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_01/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_01/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_02/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_02/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_03/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_03/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_04/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_04/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_05/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_05/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_06/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_06/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_07/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_07/build/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_08/nbproject/private/
/ComoProgramar/Capitulo04/ExerciciosCap04/Exp5_08/build/
/ComoProgramar/Capitulo05/ExemplosCap05/Exp5_09/nbproject/private/
/ComoProgramar/Capitulo05/ExemplosCap05/Exp5_09/build/
/ComoProgramar/Capitulo05/ExemplosCap05/Exp5_10/nbproject/private/
/ComoProgramar/Capitulo05/ExemplosCap05/Exp5_10/build/
/ComoProgramar/Capitulo05/ExemplosCap05/Exp5_11/nbproject/private/
/ComoProgramar/Capitulo05/ExemplosCap05/Exp5_11/build/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_3/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_3/build/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_10/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_10/build/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_11/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_11/build/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_12/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_12/build/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_13/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_13/build/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_14/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_14/build/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_15/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_15/build/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_16/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_16/build/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_17/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_17/build/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_18/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_19/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_19/build/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_20/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_20/build/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_21/nbproject/private/
/ComoProgramar/Capitulo05/ExerciciosCap05/Exe5_21/build/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_01/nbproject/private/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_01/build/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_02/nbproject/private/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_02/build/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_03/nbproject/private/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_03/build/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_04/nbproject/private/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_04/build/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_05/nbproject/private/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_05/build/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_06/nbproject/private/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_06/build/
/ComoProgramar/Capitulo06/ExemplosCap06/JavaApplication68/nbproject/private/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_07/nbproject/private/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_07/build/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_07_2/nbproject/private/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_07_2/build/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_07_3/nbproject/private/
/ComoProgramar/Capitulo06/ExemplosCap06/Exp6_07_3/build/
/ComoProgramar/Capitulo06/ExerciciosCap06/JavaApplication72/nbproject/private/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_03/nbproject/private/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_03/build/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_04/nbproject/private/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_04/build/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_05/nbproject/private/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_05/build/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_06/nbproject/private/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_06/build/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_07/nbproject/private/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_07/build/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_08/nbproject/private/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_08/build/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_09/nbproject/private/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_09/build/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_10/nbproject/private/
/ComoProgramar/Capitulo06/ExerciciosCap06/Exe6_10/build/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_01/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_01/build/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_02/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_02/build/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_03/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_03/build/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_04/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_04/build/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_05/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_05/build/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_06/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_06/build/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_07/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_07/build/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_08/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/Exp7_08/build/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp01/nbproject/private/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp01/build/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp2/nbproject/private/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp2/build/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp03/nbproject/private/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp03/build/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp04/nbproject/private/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp04/build/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp05/nbproject/private/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp05/build/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp06/nbproject/private/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp06/build/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp07/nbproject/private/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/Exp07/build/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/GradeBookTeste/nbproject/private/
/CienciaDaComputacao/Capitulo01/Exemplos1_2/GradeBookTeste/build/
/ComoProgramar/Capitulo07/ExemplosCap07/Somar/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/InicializaArray/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/InicializaArray/build/
/ComoProgramar/Capitulo07/ExemplosCap07/GradeBook/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/GradeBook/build/
/ComoProgramar/Capitulo07/ExemplosCap07/ListaDeArgumentosTeste/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/ListaDeArgumentosTeste/build/
/ComoProgramar/Capitulo07/ExemplosCap07/InicializandoArrayLinhaComando/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/InicializandoArrayLinhaComando/build/
/ComoProgramar/Capitulo07/ExemplosCap07/ManipulandoArray/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/ManipulandoArray/build/
/ComoProgramar/Capitulo07/ExemplosCap07/ArrayListCollections/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/ArrayListCollections/build/
/ComoProgramar/Capitulo07/ExemplosCap07/DesenhandoArcoIris/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/DesenhandoArcoIris/build/
/ComoProgramar/Capitulo07/ExemplosCap07/DesenhandoEspiralQuadrada/nbproject/private/
/ComoProgramar/Capitulo07/ExemplosCap07/DesenhandoEspiralQuadrada/build/
/ComoProgramar/Capitulo07/ExerciciosCap07/ArrayFraction/nbproject/private/
/ComoProgramar/Capitulo07/ExerciciosCap07/ArrayFraction/build/
/ComoProgramar/Capitulo07/ExerciciosCap07/Tarefas/nbproject/private/
/ComoProgramar/Capitulo07/ExerciciosCap07/CriaUmaMatriz/nbproject/private/
/ComoProgramar/Capitulo07/ExerciciosCap07/CriaUmaMatriz/build/
/ComoProgramar/Capitulo07/ExerciciosCap07/ComissaoDeVendas/nbproject/private/
/ComoProgramar/Capitulo07/ExerciciosCap07/ComissaoDeVendas/build/